@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
  /* border: 1px solid gold; */
  font-family: 'Poppins', sans-serif;}

html{
  font-size: 18px;
}

body{
  max-width:393px;
  background-color: #29315a;
  height: calc(100vh - 4rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 3rem;
}

.container{
  background-color: #d9d8d8;
  flex-grow: 1;
  margin: 1rem 0;
}

img {
  width: 100%;
  margin-bottom: 2rem;
}

header p{
  color: #fff;
  text-align: center;
}

header a {
  max-width: 94px;
  text-align: center;
}

header img{
  width: 12rem;
  height: auto;
  margin-bottom: 0;
}

header button{
  width: 175px;
  margin: 1rem;
  background: #c0aa5d;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  transition: all 350ms;
}

a,
button {
  color: #000;
  text-decoration: none;
  padding: 2px 8px;
  background-color: #c0aa5d;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;;
  /* margin-top: 2rem; */
  transition: all 350ms;
}

a:hover,
a:focus, 
a:active,
button:hover{
  transform: translateY(-3px);
}

.cancel-button {
  color: #000;
  text-decoration: none;
  padding: 2px 8px;
  background-color: #c0aa5d;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;;
  transition: all 350ms;
}

.cancel-button:hover {
  transform: translateY(-3px);
}

#recipe-list {
  background-color: #fff;
}
footer{
  bottom: 0;
  padding: 2rem 0;
}

footer a {
  color: #c0aa5d;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
  font-weight: 0;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 0;
  transition: all 350ms;
}

.text-center{
  text-align: center;
}

.w-full{
  width: 100% ;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.mx-auto{
  margin: 0 auto;
}

.pt-2{
  padding-top: 2rem;
}

.form-group {
    margin-bottom: 10px;
    color: slategray;
}
.form-group-inline {
    display: inline-block;
    margin-right: 10px;
}

#grocery-form legend {
    font-weight: 800;
}
.submit-btn {
    display: block;
    margin: 0 auto;
}

