@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body{
  max-width:393px;
  background-color: #29315a;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 1.5rem;
  bottom: 50px;
}

main{
  overflow: auto;
  padding: 10px;
}

  
/* Set the direction links to be spaced evenly and centered */
#directions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
  text-align: center;
}

#directions .indexButton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#directions .indexButton p{
  margin-top: 25px;
  font-size: 18px;
}

#directions a {
  margin: 20px 5px;
  padding: 30px 60px;
}

.container{
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.219);
  flex-grow: 1;
  margin: 1rem 0;
}

.form-container{
  padding: 1rem;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.219);
  margin: 1rem 0;
}

.form-container .form-group{
  margin: 5px;
  padding: 2px 0;
  display: flex;
  flex-direction: column;
}

.form-container .form-group label{
  padding: 5px 0;
  color: #000;
}

.recipe-group,
.ingredient-input{
  margin: 0px;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
}

.ingredient-input h2{
  margin: 5px 0;
  margin-top: 15px;
}

input,
select{
  height: 30px;
  font-size: 1rem;
}

.form-container .button-group{
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.form-container .button-group button {
  margin: 0 4px;
  font-size:14px;
}

/* Tooltips */

.groceryToolTip{
content:"Grocery List"
}
.homeToolTip{
  content:"Home"
}
.recipeToolTip{
  content:"Recipe List"
}
.teamToolTip{
  content:"Meet the Team"
}

.groceryToolTip,
.homeToolTip,
.teamToolTip,
.recipeToolTip{
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #c0aa5d;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 999;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #c0aa5d transparent transparent transparent;
}

.groceryToolTip:hover .tooltiptext,
.groceryToolTip:hover .tooltiptext,
.homeToolTip:hover .tooltiptext,
.teamToolTip:hover .tooltiptext,
.recipeToolTip:hover .tooltiptext {
  visibility: visible;
}

img {
  width: 100%;
}

.mb-2{
  margin-bottom: 2rem;
}

header .a {
  max-width: 94px;
  text-align: center;
}

header img{
  width: 12rem;
  height: auto;
  margin-bottom: 0;
}

.indexHeader img{
  width: 15rem;
  height: auto;
  margin-bottom: 0;
}

header .button{
  width: 175px;
  margin: 1rem;
  background: #c0aa5d;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  transition: all 350ms;
}

header p,
footer p {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

footer p{
  padding-top: 19px;
}

footer{
  max-width: 460px;
  margin: 0 auto;
  background-color: #29315a;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  padding:4px;
  padding-top: 20px;
  text-align: center;
}

footer a {
  color: #c0aa5d;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 0;
  transition: all 350ms;
}

.link,
.button {
  color: #1e2546;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #c0aa5d;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 350ms;
}

.deleteButton{
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(255,255,255,0);
  border: none;
  cursor: pointer;

}

.deleteButton i{
  color: darkred;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.151);
}

.link:hover,
.link:focus, 
.link:active,
.button:hover{
  transform: translateY(-3px);
  cursor: pointer;
}

.hidden{
  display: none;
}

#recipe-list {
  background-color: #fff;
}

.pb-125{
  padding-bottom: 125px;
}
.mb-125{
  margin-bottom: 125px;
}

.text-center{
  text-align: center;
}

.w-full{
  width: 100% ;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}
.justify-evenly{
  justify-content: space-evenly;
}
.justify-flex-start{
  justify-content: flex-start;
}
.items-center{
  align-items: center;
}

.items-start{
  align-items: start;
}

.mx-auto{
  margin: 0 auto;
}

.mt-1{
  margin-top: 1rem;
}

.mb-5p{
  margin-bottom: 5px;
}

.p-1{
  padding: 1rem;
}

.pt-2{
  padding-top: 2rem;
}

.form-group {
    margin-bottom: 10px;
    color: black;
}

.form-group-inline {
    display: inline-block;
    margin-right: 10px;
}


#grocery-form legend,
#recipe-form legend{
  font-weight: 800;
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
}

fieldset{
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border: groove 2px black;
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;
}

#ingredient-table,
#recipe-name-table,
#selected-recipe-ingredients{
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#ingredient-table, #ingredient-table td,
#recipe-name-table, #recipe-name-table td,
#selected-recipe-ingredients, #selected-recipe-ingredients td{
  border: 1px solid rgba(88, 88, 88, 0.534);
}

#ingredient-table th, td,
#recipe-name-table th, td,
#selected-recipe-ingredients th, td{
  text-align: left;
  padding: 3px;
}
#ingredient-table th,
#recipe-name-table th,
#selected-recipe-ingredients th{
  text-align: center;
  padding: 3px;
}

#ingredient-table th,
#recipe-name-table th,
#selected-recipe-ingredients th{
  background-color: #29315a;
  color: #fff;
  font-weight: 400;
}

#ingredient-table button,
#selected-recipe-ingredients button{
  margin-top: 20px;
}

.submit-btn {
    display: block;
    margin: 0 auto;
}

/* Categories Styling */
.categoryCheckBox{
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='checkbox']{
  accent-color: #585858;
}

.categoryCheckBox input[type='checkbox']:checked + label{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.categoryCheckBox label{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0 5px 5px;
}

.categoryCheckBox span{
  margin-left: 5px;
}

.category{
  font-size: .6rem;
  padding: 3px 6px;
  border-radius: 12px;
  font-weight: 500;
}
.fruit{
  background-color: yellow;
}
.vegetable{
  background-color: green;
  color: #fff;
}
.canned_goods{
  background-color: darkgray;
}
.meat{
  background-color: darkred;
  color: #fff;
}
.seafood {
  background-color: orange;
}
.deli{
  background-color: wheat;
}
.bakery{
  background-color: palevioletred;
}
.frozen_foods{
  background-color: goldenrod;
}
.personal_care{
  background-color: cadetblue;
}
.pet{
  background-color: rosybrown;
}

/* add items */
#addItemsMain input[type='text']{
  display: flex;
  flex-direction: column;
  
}

/*About Us*/

#aboutUs h1{
  font-size: 1.5rem;
  border: 2px solid #c0aa5d;
  color: #c0aa5d;
  border-radius: 5px;
  font-weight: 600;;
  padding: 1.2rem 2rem;
  margin-top: 20px;
  margin-bottom: -10px;  

}

.profileCards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.teamCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamCard *{
  background: none;
}

.teamCard a{
  margin: 0;
}

.profileInfo{
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.219);

 }

.teamCard .profilePic{
  position: relative;
  top: 48px;
  margin: 0;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;  
}

.profileName{
  margin-top: 44px;
  text-align: center;
  font-size: 1.25rem;
}

.teamCard .bio{
  font-size: 1rem;
  margin: 10px 0;
}

.teamCard .badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.teamCard .badges img{
  height: 20px;
  width: auto;
  margin: 0;
}

.about-headline {
  text-align: center;
}


    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29315a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0aa5d; 
height:10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe37c; 
}


@media (max-width: 392.98px){
  #splashScreen #directions .indexButton p {
      margin-top: 20px;
      font-size: 16px;
  }

  #splashScreen #direction a{
    padding: 20px 40px;
  }
  #splashScreen .indexHeader img{
    width: 10rem;
    height: auto;
    margin-bottom: 0px;
  }

  #splashScreen main {
    overflow: hidden;
  }

  #splashScreen main{
    padding-top: 75px;
  }
}
